@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');


* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: "Josefin Sans", sans-serif;
   height: 100vh;
   font-size: 16px;
   display: flex;
   justify-content: space-evenly;
}

/* MAIN LEFT HERE */

.left {
   height: 100%;
   width: 60%;
   max-width: 60%;
   display: flex;
   flex-direction: column;
   padding: 50px 100px 0 100px;
   background-image: url("./images/bg-pattern-desktop.svg");
   background-size: cover;
}

.left .title {
   margin-top: 100px;
   width: 70%;
   max-width: 70%;
}

.left .title h1 {
   font-size: 64px;
   text-transform: uppercase;
   letter-spacing: 15px;
   line-height: 70px;
   color: hsl(0, 6%, 24%);
}

.left .title h1 span {
   font-weight: 300;
   color: hsl(0, 36%, 70%);
}

.left .title p {
   margin-top: 20px;
   letter-spacing: .5px;
   line-height: 24px;
   color: hsl(0, 36%, 70%);
}

.left .subscribe {
   margin-top: 30px;
}

.left .form-control {
   position: relative;
   width: 70%;
   max-width: 70%;
   height: 60px;
   display: flex;
   border-radius: 500px;
   border: 1px solid hsl(0, 36%, 70%);
}

.left input {
   width: 75%;
   height: 100%;
   background: transparent;
   border: none;
   padding-left: 20px;
   font-size: 16px;
   font-weight: 600;
   color: hsl(0, 36%, 70%);
   outline: none;
   letter-spacing: 1px;
}

.left input::placeholder{
   color: hsl(0, 36%, 70%, .5);
}

.left button {
   border: none;
   cursor: pointer;
   border-radius: 500px;
   width: 25%;
   height: 100%;
   outline: none;
   background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
   box-shadow: 0 3px 15px hsla(0, 36%, 70%, .5);
}

.form-control small{
   opacity: 0;
   position: absolute;
   bottom: -30px;
   left: 20px;
   color: hsl(0, 93%, 68%);
   transition: .3s all ease;
}

.subscribe-form .alert{
   border-color: hsl(0, 93%, 68%);
   transition: .3s all ease;
}

.form-control img.alert-img{
   transition: .3s all ease;
   opacity: 0;
   position: absolute;
   right: 30%;
   top: 50%;
   transform: translateY(-50%);
}

/* RIGHT IMAGE HERE */

.right {
   width: 40%;
   max-width: 40%;
   height: auto;
   background-image: url("./images/hero-desktop.jpg");
   background-size: cover;
   background-repeat: no-repeat;
}

@media screen and (max-width: 768px){
   body{
      flex-direction: column;
      width: 100%;
      align-items: center;
      height: 100%;
   }

   .left{
      width: 100%;
      background-image: none;
      max-width: 100%;
      text-align: center;
   }

   .left .title,
   .left .form-control{
      width: 100%;
      max-width: 100%;
   }
   .left .title{
      margin-top: 50px;
   }

   .right{
      margin-top: 50px;
      width: 100%;
      height: 300px;
      max-width: 100%;
      background-image: url("./images/hero-mobile.jpg");
   }
}