@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root {
   --btn-primary-color: hsl(322, 100%, 66%);
   --paragraph-color: hsl(208, 11%, 55%);
   --title-color: hsl(192, 100%, 9%);
   --info-color: hsl(193, 100%, 96%);
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

ul,
li {
   list-style: none;
}

a {
   text-decoration: none;
}

img {
   width: 100%;
   max-width: 100%;
   height: auto;
}

body {
   font-size: 18px;
   font-family: "Open Sans", sans-serif;
}

.container {
   width: 1200px;
   max-width: 1200px;
   margin: 0 auto;
}

.btn {
   border-radius: 500px;
   background-color: var(--btn-primary-color);
   color: #fff;
   padding: 15px 50px;
   border: none;
   font-size: 15px;
}

/* Header Starts */

header {
   background-color: var(--info-color);
   padding-top: 50px;
   height: 100vh;
   background-image: url("../images/bg-hero-desktop.svg");
   background-size: cover;
}


header .nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header .nav .logo {
   width: 150px;
}

header .nav .btn-secondary {
   background-color: #fff;
   color: var(--title-color);
   box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
   font-weight: 700;
   letter-spacing: .5px;
}

header .hero {
   margin-top: 85px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header .hero .hero-left {
   width: 40%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}

header .hero .hero-left .hero-title {
   font-family: "Poppins";
   color: var(--title-color);
}

header .hero .hero-left .hero-description {
   color: var(--title-color);
   margin-top: 20px;
   font-size: 16px;
}

header .hero .hero-left .btn-primary {
   margin-top: 20px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
}

header .hero .hero-right {
   width: 60%;
   padding-left: 50px;
}

/* Header Ends */

/* Services Section */

.services {
   margin-top: 100px;
}

.services .service-item {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 20px 50px;
   box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
   border-radius: 10px;
   margin-top: 30px;
}

.services .service-item .service-info {
   width: 50%;
   color: var(--title-color);
}

.services .service-item .service-info .service-description {
   margin-top: 10px;
   font-size: 16px;
   line-height: 28px;
}

.services img {
   width: 400px;
}

/* Services Section Ends */

/* Footer */

footer {
   margin-top: 200px;
   padding-top: 150px;
   background-color: var(--title-color);
   position: relative;
   padding-bottom: 70px;
}

.get-start {
   margin: 0 auto;
   width: 40%;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
   padding: 50px 30px;
   border-radius: 10px;
   background-color: #fff;
   position: absolute;
   top: -130px;
   left: 50%;
   transform: translateX(-50%);
}

.get-start h2 {
   font-size: 20px;
   margin-bottom: 20px;
   font-family: "Poppins";
}

.footer-overlay {
   display: flex;
   justify-content: space-between;
   color: var(--info-color);
}

.footer-overlay .company {
   width: 25%;
   max-width: 25%;
}

.footer-overlay .footer-logo {
   width: 150px;
}

.footer-overlay .company .company-infos li {
   display: flex;
   margin-top: 10px;
}

.footer-overlay .company .company-infos li p {
   font-size: 14px;
   margin-left: 10px;
}

.footer-overlay .categories-first ul li,
.footer-overlay .categories-second ul li {
   margin-bottom: 10px;
}

.footer-overlay .categories-first ul li a,
.footer-overlay .categories-second ul li a {
   color: var(--info-color);
   font-size: 14px;
}

.footer-overlay .social {
   display: flex;
}

.footer-overlay .social-item {
   margin-right: 20px;
}

footer .copyright {
   display: flex;
   justify-content: flex-end;
   color: var(--info-color);
   font-size: 12px;
}

/* Footer Ends */

@media screen and (max-width: 768px) {
   .container {
      width: 375px;
   }

   header{
      background-image: url("../images/bg-hero-mobile.svg");
   }

   header .nav .logo {
      width: 100px;
   }

   header .nav .btn-secondary {
      padding: 10px 30px;
      font-size: 12px;
   }

   header .hero {
      justify-content: center;
      flex-direction: column;
      height: auto;
      text-align: center;
      margin-top: 40px;
   }


   header .hero .hero-left,
   header .hero .hero-right {
      width: 100%;
      align-items: center;
      justify-content: center;
   }

   header .hero .hero-left .hero-title {
      font-size: 24px;
   }

   header .hero .hero-left .hero-description {
      font-size: 14px;
      line-height: 20px;
   }

   header .hero .hero-left .btn-primary {
      font-size: 12px;
      padding: 10px 25px;
   }

   header .hero .hero-right {
      margin-top: 20px;
      padding: 0;
   }

   header .hero .hero-right img {
      width: 400px;
   }

   .services {
      margin-top: 50px;
   }

   .services .service-item {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px 50px;
      margin-top: 30px;
   }

   .services .service-item .service-info {
      width: 100%;
      text-align: center;
      margin-top: 30px;
   }

   .services .service-item .service-info .service-description {
      font-size: 14px;
      line-height: 20px;
   }

   .services img {
      width: 250px;
   }

   .service-reverse {
      flex-direction: column-reverse !important;
   }

   footer {
      margin-top: 200px;
      padding-top: 100px;
      padding-bottom: 70px;
   }

   .get-start {
      width: 75%;
      padding: 30px 30px;
   }
   .get-start h2{
      font-size: 18px;
   }

   .get-start button{
      padding: 15px 25px;
   }

   .footer-overlay {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
   }

   .footer-overlay .company {
      width: 100%;
      max-width: 100%;
      margin-bottom: 30px;
   }

   .footer-overlay .company .company-infos li {
      margin-top: 10px;
   }

   .footer-overlay .company .company-infos li p {
      font-size: 14px;
      margin-left: 10px;
   }

   .footer-overlay .categories-first ul li,
   .footer-overlay .categories-second ul li {
      margin: 10px 0;
   }

   .footer-overlay .categories-second ul li:first-child{
      margin: 0;
   }

   .footer-overlay .categories-first ul li a,
   .footer-overlay .categories-second ul li a {
      font-size: 14px;
   }

   .footer-overlay .social {
      display: flex;
      justify-content: center;
      margin: 20px 0;
   }

   .footer-overlay .social-item {
      margin-right: 20px;
   }

   footer .copyright {
      justify-content: center;
   }
}