@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

:root {
   --red: hsl(0, 100%, 68%);
   --dark-blue: hsl(230, 29%, 20%);
   --dark-grayish-blue: hsl(230, 11%, 40%);
   --light-grayish-blue: hsl(207, 33%, 95%);
   --grayish-blue: hsl(231, 7%, 65%);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

ul,
li {
   list-style: none;
}

a {
   text-decoration: none;
}

html {
   font-size: 18px;
}

body {
   font-family: "Barlow", sans-serif;
   overflow: hidden;
}

.site-wrapper {
   position: relative;
   width: 100%;
   height: 100%;
}

.container {
   width: 80%;
   margin: 0 auto;
}

/* Header */

header {
   margin-top: 4rem;
}

header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header nav ul {
   display: flex;
   align-items: center;
}

header nav ul li a {
   display: inline-block;
   margin: 0 2rem;
   font-family: "Barlow Condensed";
   text-transform: uppercase;
   letter-spacing: .05rem;
   color: var(--dark-blue);
   font-weight: 700;
}

header nav ul li a:hover {
   text-decoration: underline;
}

header nav ul li.btn {
   position: relative;
}

header nav ul li.btn::before {
   content: "";
   width: 6px;
   height: 6px;
   border-radius: 10px;
   top: 50%;
   left: 0;
   transform: translate(-6px, -50%);
   display: block;
   position: absolute;
   background-color: var(--grayish-blue);
}

header nav ul li.btn a {
   margin-right: 0;
   color: var(--grayish-blue);
}

.hamburger {
   display: none;
}

.showMenu {
   display: block !important;
}

.changeIcon{
   display: none;
}

/* Header */

/* Main */


main .container {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

main .main-img {
   position: absolute;
   right: -18%;
   top: 70%;
   transform: translateY(-60%);
   z-index: -99;
}

main .main-img::before {
   content: "";
   display: block;
   width: 100%;
   height: 100%;
   border-bottom-left-radius: 3rem;
   background: var(--light-grayish-blue);
   z-index: -3;
   position: absolute;
   top: -50%;
   right: 0;
}

main .slogan {
   width: 50%;
   margin-top: 10rem;
}

main .slogan .first-para {
   text-transform: uppercase;
   font-family: "Barlow Condensed";
   letter-spacing: .2rem;
   color: var(--grayish-blue);
}

main .slogan .first-para span {
   margin-right: .2rem;
   padding: .3rem 1rem;
   background-color: var(--dark-blue);
   color: var(--light-grayish-blue);
   border-radius: 100px;
   letter-spacing: 0;
}

main .slogan h1 {
   font-family: "Barlow Condensed";
   font-size: 4rem;
   color: var(--dark-blue);
   text-transform: uppercase;
   margin: 1rem 0;
}

main .slogan h3 {
   color: var(--grayish-blue);
   width: 50%;
   font-size: 1.2rem;
   line-height: 1.6rem;
   margin-bottom: 1rem;
}

main .btn-overlay {
   margin-top: 3rem;
   display: flex;
   align-items: center;
}

main .btn-overlay button {
   text-transform: uppercase;
   border: 0;
   border-radius: 5px;
   font-family: "Barlow Condensed";
   font-size: 1rem;
   padding: .8rem 1.8rem;
   background-color: var(--red);
   color: #fff;
   outline: none;
   cursor: pointer;
}

main .btn-overlay button:hover {
   opacity: .9;
}

main .btn-overlay p {
   margin-left: 1rem;
   font-family: "Barlow Condensed";
   text-transform: uppercase;
   color: var(--grayish-blue);
   letter-spacing: .2rem;
}

/* Main */

@media screen and (max-width: 500px) {
   html {
      font-size: 10px;
   }

   body {
      width: 100vw;
      overflow-y: visible;
   }

   .site-wrapper {
      overflow-x: hidden;
   }

   header {
      margin-top: 2rem;
   }

   header nav {
      display: none;
      top: 10%;
      position: absolute;
      width: 100%;
   }

   header nav ul {
      width: 80%;
      background-color: #fff;
      flex-direction: column;
      box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
      align-items: flex-start;
   }

   header nav ul li {
      width: 100%;
      display: inline-block;
      text-align: center;
   }

   header nav ul li a {
      margin: 2rem 0;
      font-size: 2rem;
   }

   header nav ul li.btn::before {
      width: 80%;
      height: 1px;
      border-radius: 0;
      top: 0%;
      left: 50%;
      transform: translate(-50%, 0);
   }

   .hamburger {
      display: block;
      z-index: 999;
   }

   .hamburger .closeIcon{
      display: none;
   }

   main {
      flex-direction: column;
      margin-bottom: 5rem;
   }

   main .main-img {
      top: 35%;
   }

   main .main-img::before {
      width: 100%;
      right: -50%;
      top: -100%;
      height: 220%;
   }

   main .main-img img {
      width: 130%;
   }

   main .slogan {
      margin-top: 40rem;
      width: 100%;
   }

   main .slogan .first-para {
      font-size: 1.5rem;
   }

   main .slogan h1 {
      font-size: 4rem;
   }

   main .slogan h3 {
      width: 100%;
      font-size: 2rem;
      line-height: 3rem;
      align-items: center;
   }

   main .btn-overlay button {
      font-size: 1.5rem;
   }


}