@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body{
   font-family: "Poppins", sans-serif;
   font-size: 15px;
   background-color: hsl(0, 0%, 98%);
   color: hsl(234, 12%, 34%);
   display: flex;
   justify-content: center;
}

.container{
   min-height: 100vh;
   max-width: 1024px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   padding: 30px;
}

/* HEADER COMES HERE */

header{
   max-width: 55%;
   text-align: center;
}

header h1{
   font-weight: 200;
}

header h1 span{
   font-weight: 600;;
}

header p{
   letter-spacing: .3px;
   margin-top: 20px;
   font-size: 14px;
   line-height: 24px;
   color: hsl(229, 6%, 66%);
}

/* MAIN COMES HERE */

main{
   display: flex;
   align-items: center;
}

main .col{
   padding: 10px;
   flex: 1;
   width: 100%;
}

.col .card{
   width: 100%;
   min-width: 100%;
   background-color: #fff;
   box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
   padding-top: 20px;
   padding-left: 20px;
   border-radius: 3px;
   border-top: 3px solid #000;
   height: 230px;
   position: relative;
}

.col .card h2{
   font-size: 18px;
}

.col .card p{
   margin-top: 5px;
   max-width: 80%;
   font-size: 12px;
   color: hsl(229, 6%, 66%);
   line-height: 22px;
}

.col .card.card-3{
   margin-top: 30px;
}

.card.card-1{
   border-top-color: hsl(180, 62%, 55%);
}

.card.card-2{
   border-top-color: hsl(0, 78%, 62%);
}

.card.card-3{
   border-top-color: hsl(34, 97%, 64%);
}

.card.card-4{
   border-top-color: hsl(212, 86%, 64%);
}

.card img{
   position: absolute;
   bottom: 20px;
   right: 20px;
}

/* MOBILE <3 */

@media screen and (max-width: 768px){
   main{
      margin-top: 30px;
      flex-direction: column;
   }

   .container{
      padding: 50px 10px 50px 10px;
   }

   header{
      max-width: 100%;
   }

   .col .card h2{
      font-size: 20px;
   }

   .col .card p{
      font-size: 14px;
   }
}